.button {
  display: block;
  border: none;
  padding: 0 10px;
  text-transform: uppercase;
  text-align: center;
  cursor: pointer;

  &--primary {
    color: $color-text-tertiary;
    background-color: $color-bg-btn-primary-clickable;

    &:hover {
      background-color: $color-bg-btn-primary-hover;
    }

    &:active {
      color: rgba($basic-color, 0.3);
    }
  }

  &--secondary {
    color: $color-text-primary;
    background-color: $color-bg-btn-secondary-clickable;

    &:hover {
      background-color: $color-bg-btn-secondary-hover;
    }

    &:active {
      color: rgba($basic-color, 0.3);
    }
  }
}
