.contacts {
  &--colored-background {
    background-color: $color-background-3;
  }
}

.contacts__container {
  padding-top: 26px;
  margin-bottom: 26px;
}

.contacts__wrapper {
  display: flex;
  gap: 18px;
}

.contacts__offer {
  font: $font-contacts-offer;
  color: $color-text-secondary;
  text-transform: uppercase;
}

.contacts__address {
  font-style: normal;
  line-height: 1.25rem;
}
