.example {
  background-color: $gray-50;

  @media (min-width: $tablet-width) {
    background-image: linear-gradient($basic-color 57%, $gray-50 57%);
  }

  @media (min-width: $desktop-width) {
    background-image: linear-gradient($basic-color 23%, $light-color 23%);
  }
}

.example__container {
  padding: 25px 0 40px;

  @media (min-width: $tablet-width) {
    padding: 45px 0 101px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 0 75px;
    display: grid;
    grid-template-columns: 433px 560px;
    column-gap: 227px;
  }
}

.example__title {
  font-family: $font-secondary;
  font-size: 2.25rem;
  line-height: 1.11;
  font-weight: 400;
  color: $color-text-secondary;
  margin: 0 0 40px;

  @media (min-width: $tablet-width) {
    font-size: 3.75rem;
    line-height: 1;
    margin: 0 0 60px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 146px;
  }
}

.example__description {
  margin: 0 0 20px;

  @media (min-width: $tablet-width) {
    font-size: 1rem;
    line-height: 1.5;
    margin: 0 0 51px;
  }

  @media (min-width: $desktop-width) {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    margin: 0 0 69px;
  }
}

.example__stats {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 32px;
  row-gap: 19px;
  text-transform: uppercase;
  margin: 0 0 20px;

  @media (min-width: $tablet-width) {
    display: flex;
    align-items: center;
    gap: 43px;
    margin: 0 0 99px;
  }

  @media (min-width: $desktop-width) {
    grid-row: 3 / 4;
    grid-column: 1 / 2;
    display: grid;
    grid-template-columns: 162px 162px;
    column-gap: 42px;
    row-gap: 55px;
    margin: 0;
  }
}

.example__stats-wrapper {
  text-align: center;
  display: grid;

  &--wide {
    grid-column: 1 / 3;
    display: flex;
    justify-content: center;
    gap: 4px;
    color: $color-text-secondary;
  }

  @media (min-width: $tablet-width) {
    width: 162px;
    flex-shrink: 0;

    &--wide {
      flex-direction: column;
      gap: 9px;
      width: 174px;
      margin: 0 0 0 123px;
      align-items: end;
    }
  }

  @media (min-width: $desktop-width) {
    &--wide {
      grid-column: 1 / 3;
      flex-direction: row;
      gap: 67px;
      justify-content: start;
      margin: 0;
    }
  }
}

.example__stats-name {
  font-family: $font-secondary;
  line-height: 1.43;
  flex-shrink: 0;

  &--decorated {
    grid-row: 2 / 3;
    font-family: $font-basic;
    font-size: 0.75rem;
    line-height: 1;
    font-weight: 400;
    text-transform: lowercase;
    margin: -10px 0 0;
    padding: 0 16px;
    background-color: $gray-50;
    justify-self: center;
    z-index: 1;
  }

  @media (min-width: $tablet-width) {
    font-size: 1.25rem;
    line-height: 1;

    &--decorated {
      font-size: 0.88rem;
      padding: 0 10px;
      background-color: $basic-color;

      br {
        display: none;
      }
    }
  }

  @media (min-width: $desktop-width) {
    &--decorated {
      background-color: $light-color;
    }
  }
}

.example__stats-description {
  font-family: $font-secondary;
  line-height: 1.43;
  color: $black-200;
  margin: 0;
  flex-shrink: 0;

  &--decorated {
    font-size: 1.5rem;
    line-height: 1;
    font-weight: 400;
    border: 1px solid $gray-500;
    border-radius: 4px;
    padding: 14px 0 18px;
  }

  @media (min-width: $tablet-width) {
    font-size: 1.25rem;
    line-height: 1;

    &--decorated {
      font-size: 1.88rem;
      line-height: 1.23;
      padding: 17px 0 21px;
    }
  }

  @media (min-width: $desktop-width) {
    &--decorated {
      padding: 14px 0 20px;
    }
  }
}

.example__slider {
  display: grid;
  grid-template-columns: 50% 1fr;
  width: 280px;
  position: relative;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 560px;
  }

  @media (min-width: $desktop-width) {
    grid-row: 1 / 4;
    grid-column: 2 / 3;
  }
}

.example__slide {
  grid-row: 1 / 2;
  overflow: hidden;
  display: flex;

  &--before {
    grid-column: 1 / 2;
  }

  &--after {
    grid-column: 2 / 3;
    justify-content: flex-end;
  }
}

.example__slider-button {
  border: none;
  background: none;
  padding: 0;
  width: 4px;
  height: 258px;
  cursor: pointer;
  color: $dove-gray;
  position: absolute;
  top: 0;
  left: 50%;

  &:hover {
    color: $bright-color;
  }

  &:active {
    color: rgba($apple, 0.6);
  }

  &::before {
    content: "";
    display: block;
    width: 4px;
    height: 258px;
    background-color: $dove-gray;
    border-radius: 4px;
    position: absolute;
    top: 0;
    left: 0;
  }

  &:hover::before {
    background-color: $bright-color;
  }

  &:active::before {
    background-color: rgba($apple, 0.6);
  }

  @media (min-width: $tablet-width) {
    height: 512px;

    &::before {
      height: 512px;
    }
  }
}

.example__slider-button-img {
  position: relative;
  right: 18px;
}

.example__image {
  object-fit: none;
  max-width: none;
  width: 280px;
  height: 256px;

  @media (min-width: $tablet-width) {
    width: 560px;
    height: 512px;
  }
}
