.extra-catalog__container {
  padding-top: 25px;
}

.extra-catalog__title {
  display: inline-block;
  position: relative;
  padding-right: 20px;
  font-family: $font-secondary;
  font-size: 1.5rem;
  line-height: 1;
  font-weight: 400;
  color: $color-text-secondary;
  margin-top: 0;
  margin-bottom: 36px;
  background-color: $basic-color;
  box-shadow: -20px 0 $basic-color;

  &::before {
    content: "";
    display: block;
    height: 2px;
    width: 1500px;
    background-color: $bright-color;
    position: absolute;
    z-index: -1;
    top: 50%;
    right: 0;
    transform: translate(0, 50%);
    box-shadow: 1500px 0 $bright-color;
  }
}

.extra-catalog__list {
  @include list-reset;
  margin-bottom: 35px;
}

.extra-catalog__gift {
  min-height: 290px;
  background-image: url("../img/gift.jpg");
  background-repeat: no-repeat;
  padding-top: 59px;
  padding-bottom: 20px;

  &::before {
    content: "";
    display: block;
    width: 80px;
    height: 80px;
    background-image: url("../img/icon-gift.svg");
    margin: 0 auto;
    margin-bottom: 48px;
  }
}

.extra-catalog__gift-conditions {
  margin: 0 auto;
  width: 161px;
  font-size: 1rem;
  line-height: 1.25;
  font-weight: 400;
  color: $color-text-tertiary;
  text-align: center;
}
