.extra-product-card {
  padding: 13px 0 19px;
  border-top: 1px solid $gray-500;

  &:last-child {
    border-bottom: 1px solid $gray-500;
  }

  @media (min-width: $tablet-width) {
    padding: 26px 0 27px;
    display: grid;
    grid-template-columns: 39px 170px 229px 230px 38px;
  }

  @media (min-width: $desktop-width) {
    padding: 15px 0 17px;
    grid-template-columns: 245px 80px 285px 40px 245px;
    align-items: center;
  }
}

.extra-product-card__title {
  font-family: $font-secondary;
  font-size: 1rem;
  line-height: 1;
  font-weight: 400;
  text-transform: uppercase;
  margin: 0 0 13px;

  @media (min-width: $tablet-width) {
    font-size: 1.25rem;
    grid-column: 2 / 3;
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    grid-column: 1 / 2;
  }
}

.extra-product-card__link {
  color: $black-50;
}

.extra-product-card__info-wrapper {
  display: flex;
  justify-content: space-between;
  line-height: 1;
  margin: 0 0 15px;

  @media (min-width: $tablet-width) {
    font-size: 1rem;
    line-height: 1.25;
    grid-column: 4 / 5;
    display: grid;
    grid-template-columns: 138px 45px;
    column-gap: 40px;
    margin: 0;

    .extra-product-card__info-name {
      text-align: end;
    }

    .extra-product-card__info-value {
      text-align: end;
    }
  }

  @media (min-width: $desktop-width) {
    grid-column: 3 / 4;

    .extra-product-card__info-name {
      text-align: start;
    }
  }
}


.extra-product-card__button {
  font-family: $font-secondary;
  font-size: 1rem;
  line-height: 1.25;
  font-weight: 400;
  width: 280px;
  padding: 10px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    grid-column: 2 / 5;
    width: 632px;
    margin: 25px 0 0;
  }

  @media (min-width: $desktop-width) {
    grid-column: 5 / 6;
    width: 244px;
    margin: 0;
  }
}
