.extra-catalog__wrapper {
  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 895px 245px;
    column-gap: 80px;
  }
}

.extra-catalog__title {
  display: inline-block;
  position: relative;
  padding: 0 20px 0 0;
  font-family: $font-secondary;
  font-size: 1.5rem;
  line-height: 1;
  font-weight: 400;
  color: $color-text-secondary;
  margin: 0 0 35px;
  background-color: $basic-color;
  box-shadow: -20px 0 $basic-color;

  &::before {
    content: "";
    display: block;
    height: 2px;
    width: 100vw;
    background-color: $bright-color;
    position: absolute;
    z-index: -1;
    top: 50%;
    right: 0;
    transform: translate(0, 50%);
    box-shadow: 100vw 0 $bright-color;
  }

  @media (min-width: $tablet-width) {
    padding: 0 40px;
    box-shadow: none;
    font-size: 2.25rem;
    line-height: 1;
    margin: 0 0 80px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 40px 0 0;
    box-shadow: -40px 0 $basic-color;
  }
}

.extra-catalog__list {
  @include list-reset;
  margin: 0 0 35px;

  @media (min-width: $tablet-width) {
    margin: 0 0 70px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
  }
}

.extra-catalog__gift {
  background-image: image-set(
    url("../img/gift-bg-size-s@2x.jpg") 2x,
    url("../img/gift-bg-size-s.jpg") 1x
  );
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: $bright-color;
  padding: 59px 0 43px;

  &::before {
    content: "";
    display: block;
    width: 80px;
    height: 80px;
    background-image: url("../img/sprite.svg#gift-icon");
    margin: 0 auto 48px;
  }

  @media (min-width: $tablet-width) {
    background-image: image-set(
      url("../img/gift-bg-size-m@2x.jpg") 2x,
      url("../img/gift-bg-size-m.jpg") 1x
    );
    padding: 57px 125px 60px 77px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &::before {
      height: 82px;
      margin: 0;
    }
  }

  @media (min-width: $desktop-width) {
    background-image: image-set(
      url("../img/gift-bg-size-xs@2x.jpg") 2x,
      url("../img/gift-bg-size-xs.jpg") 1x
    );
    padding: 56px 42px 43px 42px;
    flex-direction: column;
    justify-content: center;

    &::before {
      margin: 0 0 46px;
    }
  }
}

.extra-catalog__gift-conditions {
  margin: 0 auto;
  width: 161px;
  font-size: 1rem;
  line-height: 1.25;
  font-weight: 400;
  color: $color-text-tertiary;
  text-align: center;

  @media (min-width: $tablet-width) {
    margin: 0;
    text-align: start;
  }

  @media (min-width: $desktop-width) {
    text-align: center;
  }
}
