.features {
  @media (min-width: $tablet-width) and (max-width: 1439px) {
    border-bottom: 1px solid $gray-200;
  }
}

.features__container {
  padding: 0 0 49px;

  @media (min-width: $tablet-width) {
    padding: 0 79px 47px 0;
  }

  @media (min-width: $desktop-width) {
    padding: 0 0 69px;
  }
}

.features__title {
  font-family: $font-secondary;
  font-size: 2.25rem;
  line-height: 1.1;
  font-weight: 400;
  color: $color-text-secondary;
  margin: 0 0 40px;

  @media (min-width: $tablet-width) {
    font-size: 3.75rem;
    line-height: 1;
    margin: 0 0 32px;
  }
}

.features__list {
  @include list-reset;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 20px;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 129px;
    row-gap: 37px;
    counter-reset: number 0;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(4, 250px);
    column-gap: 73px;
    row-gap: 0;
  }
}

.features__item {
  display: flex;
  width: 100%;
  align-items: center;
  gap: 20px;

  &::before {
    content: "";
    width: 60px;
    height: 60px;
    flex-shrink: 0;
    background-color: $bright-color;
    background-repeat: no-repeat;
    background-position: center;
  }

  &--healthy::before {
    background-image: url("../img/sprite.svg#leaf-icon");
    background-size: 30px 32px;
  }

  &--easy::before {
    background-image: url("../img/sprite.svg#glass-bubbles-icon");
    background-size: 26px 29px;
  }

  &--daily::before {
    background-image: url("../img/sprite.svg#fork-knife-icon");
    background-size: 25px 30px;
  }

  &--quickly::before {
    background-image: url("../img/sprite.svg#clock-icon");
    background-size: 26px 32px;
  }

  @media (min-width: $tablet-width) {
    display: block;
    min-height: 280px;
    padding: 40px 0 10px;
    counter-increment: number;
    position: relative;

    &::before {
      display: block;
      width: 80px;
      height: 80px;
      margin: 0 0 31px;
    }

    &::after {
      content: counter(number);
      font-family: $font-secondary;
      font-size: 17.5rem;
      line-height: 1;
      color: $light-color;
      position: absolute;
      top: 0;
      right: 0;
      z-index: -1;
    }
  }
}

.features__item-text {
  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 1rem;
    line-height: 1.5;
  }
}
