.footer {
  background-color: $light-color;
}

.footer__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 0;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    padding: 57px 0 55px;
  }

  @media (min-width: $desktop-width) {
    padding: 66px 0;
  }
}

.footer__logo {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 0 0 20px;
  margin: 0 0 20px;
  border-bottom: 1px solid $gray-400;
  cursor: pointer;

  &:focus {
    opacity: 0.8;
  }

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }

  @media (min-width: $tablet-width) {
    width: 130px;
    justify-content: start;
    padding: 0;
    margin: 0 106px 0 0;
    border: none;
  }

  @media (min-width: $desktop-width) {
    margin: 0 362px 0 0;
  }
}

.footer__social {
  width: 100%;
  padding: 0 0 20px;
  margin: 0 0 20px;
  border-bottom: 1px solid $gray-400;

  @media (min-width: $tablet-width) {
    width: 240px;
    padding: 0;
    margin: 0;
    border: none;
  }
}

.footer__partner-logo {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1rem;
  line-height: 1.25;
  color: $color-text-primary;

  &:active {
    opacity: 0.3;
  }

  &::after {
    content: "";
    display: block;
    width: 27px;
    height: 34px;
    mask: url("../img/academy-logo.svg") no-repeat center / contain;
    background: $color-partner-logo-clickable;
  }

  &:focus::after {
    background: $color-partner-logo-focused;
  }

  &:hover::after {
    background: $color-partner-logo-hover;
  }

  @media (min-width: $tablet-width) {
    width: 170px;
    margin: 0 0 0 61px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 0 317px;
  }
}
