.footer {
  background-color: $light-color;
}

.footer__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    padding-top: 57px;
    padding-bottom: 55px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 66px;
    padding-bottom: 66px;
  }
}

.footer__logo {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid $gray-400;
  cursor: pointer;

  &:focus {
    opacity: 0.8;
    outline: none;
  }

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }

  @media (min-width: $tablet-width) {
    width: 130px;
    justify-content: start;
    padding-bottom: 0;
    margin-right: 106px;
    margin-bottom: 0;
    border: none;
  }

  @media (min-width: $desktop-width) {
    margin-right: 362px;
  }
}

.footer__social {
  width: 100%;
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid $gray-400;

  @media (min-width: $tablet-width) {
    width: 240px;
    padding-bottom: 0;
    margin-bottom: 0;
    border: none;
  }
}

.footer__partner-logo {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1rem;
  line-height: 1.25;
  color: $color-text-primary;

  &:focus {
    outline: none;
  }

  &:active {
    opacity: 0.3;
  }

  &::after {
    content: "";
    display: block;
    width: 27px;
    height: 34px;
    mask: url("../img/academy-logo.svg") no-repeat center / contain;
    background: $color-partner-logo-clickable;
  }

  &:focus::after {
    background: $color-partner-logo-focused;
  }

  &:hover::after {
    background: $color-partner-logo-hover;
  }

  @media (min-width: $tablet-width) {
    width: 170px;
    margin-left: 61px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 317px;
  }
}
