.header {
  position: relative;
  border-bottom: 1px solid $gray-400;

  @media (min-width: $tablet-width) {
    border: none;
  }
}

.header__container {
  display: flex;
  flex-direction: column;
  padding: 13px 0 0;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 25px 0 0;
  }

  @media (min-width: $desktop-width) {
    padding: 56px 0 0;
    justify-content: start;
  }
}

.header__wrapper {
  display: flex;
  width: 100%;
  align-items: center;
  margin: 0 0 15px;

  @media (min-width: $tablet-width) {
    width: 175px;
    margin: 0;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    width: 202px;
  }
}

.header__link {
  &:focus {
    opacity: 0.8;
  }

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }

  &--image {
    margin: 0 56px 0 0;

    @media (min-width: $tablet-width) {
      margin: 0;
    }
  }
}

.header__logo-image {
  display: block;
  width: 33px;
  height: 38px;

  @media (min-width: $tablet-width) {
    width: 60px;
    height: 50px;
  }

  @media (min-width: $desktop-width) {
    width: 70px;
    height: 59px;
  }
}

.header__logo-text {
  display: block;
  width: 101px;
  height: 18px;

  @media (min-width: $desktop-width) {
    width: 118px;
    height: 21px;
  }
}

.header__toggle {
  display: inline-block;
  padding: 0;
  margin: 0 0 0 66px;
  border: none;
  background-color: transparent;
  cursor: pointer;

  &--closed::before {
    content: "";
    display: block;
    width: 24px;
    height: 24px;
    mask: url("../img/sprite.svg#burger-icon") no-repeat center / contain;
    background: $color-header-toggle-clickable;
  }

  &--closed:focus::before {
    background: $color-header-toggle-focused;
  }

  &--closed:hover::before {
    background: $color-header-toggle-hover;
  }

  &--closed:active {
    opacity: 0.3;
  }

  &--opened::before {
    content: "";
    display: block;
    width: 24px;
    height: 24px;
    mask: url("../img/sprite.svg#x-icon") no-repeat center / contain;
    background: $color-header-toggle-clickable;
  }

  &--opened:focus::before {
    background: $color-header-toggle-focused;
  }

  &--opened:hover::before {
    background: $color-header-toggle-hover;
  }

  &--opened:active {
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.header__wrapper--nojs .header__toggle {
  visibility: hidden;
}
