.hero {
  font-family: $font-secondary;
  text-align: center;
  color: $color-text-tertiary;
  background-image: image-set(
    url("../img/background-cat@2x.jpg") 2x,
    url("../img/background-cat.jpg") 1x
  );
  background-repeat: no-repeat;
  background-position: top center;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    display: block;
    z-index: -1;
    width: 100%;
    height: 302px;
    background: linear-gradient(to right, #64a83c 50%, #62a63b 50%);
  }

  @media (min-width: $tablet-width) {
    color: $color-text-secondary;
    text-align: left;
    background-image: none;

    &::before {
      display: none;
      background: none;
    }
  }

  @media (min-width: $desktop-width) {
    &::before {
      display: block;
      width: 50%;
      height: 694px;
      top: -115px;
      left: 50%;
      /* stylelint-disable */
      background-image: linear-gradient(to right, rgba($bright-color, 0.85) 0, rgba($bright-color, 0.85) 100%), image-set(url("../img/background-cat-desktop@2x.jpg") 2x, url("../img/background-cat-desktop.jpg") 1x);
      /* stylelint-enable */
      background-color: $ship-gray;
      background-repeat: no-repeat;
    }
  }
}

.hero__container {
  padding: 26px 0 0;

  @media (min-width: $tablet-width) {
    padding: 65px 0 0;
    display: grid;
    grid-template-columns: 90px 1fr 90px;
  }

  @media (min-width: $desktop-width) {
    padding: 110px 80px 184px 80px;
    display: block;
    position: relative;
  }
}

.hero__title {
  font-size: 2.25rem;
  line-height: 1;
  font-weight: 400;
  margin: 0 0 25px;

  @media (min-width: $tablet-width) {
    font-size: 3.75rem;
    margin: 0 0 40px;
    grid-column: 2 / 3;
  }

  @media (min-width: $desktop-width) {
    width: 416px;
  }
}

.hero__subtitle {
  line-height: 1;
  text-transform: uppercase;
  margin: 0 0 29px;

  @media (min-width: $tablet-width) {
    font-size: 1.25rem;
    margin: 0 0 52px;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }

  @media (min-width: $desktop-width) {
    width: 400px;
  }
}

.hero__image {
  display: block;
  width: 280px;
  height: 270px;
  margin: 0 auto 3px;

  @media (min-width: $tablet-width) {
    width: 708px;
    height: 609px;
    grid-column: 1 / 4;
    grid-row: 3 / 5;
    margin: -32px 0 0;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    position: absolute;
    width: 552px;
    height: 499px;
    top: 29px;
    right: 221px;
  }
}

.hero__button {
  font-family: inherit;
  font-size: 0.88rem;
  line-height: 1.29;
  width: 280px;
  padding: 10px;

  @media (min-width: $tablet-width) {
    font-size: 1.25rem;
    line-height: 1;
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    padding: 16px 10px;
    width: 244px;
  }
}
