.hero {
  text-align: center;
  color: $color-text-tertiary;
  background-image: linear-gradient(rgba(104, 183, 56, 0.85) 60%, rgba(255, 255, 255, 1) 40%), url("../../img/background-cat.jpg");
  background-repeat: no-repeat;
  background-position: top;
  background-size: auto auto;
}

.hero__container {
  padding-top: 27px;
}

.hero__title {
  font: $font-main-heading;
  margin-top: 0;
  margin-bottom: 25px;
}

.hero__subtitle {
  font: $font-hero-subtitle;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 29px;
}

.hero__image {
  display: block;
  margin-bottom: 3px;
}

.hero__button {
  display: block;
  width: 100%;
  padding-top: 8px;
  padding-bottom: 8px;
  position: relative;
  background-color: $color-background-2;

  &:hover {
    background-color: $color-background-5;
  }

  &:active {
    background-color: $color-background-5;
    color: rgba(255, 255, 255, 0.3);
  }
}
