.hero {
  font-family: $font-secondary;
  text-align: center;
  color: $color-text-tertiary;
  background-image: url("../img/background-cat.jpg");
  background-repeat: no-repeat;
  background-position: top center;
  position: relative;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/background-cat@2x.jpg");
    background-size: 320px auto;
  }

  &::before {
    content: "";
    position: absolute;
    display: block;
    z-index: -1;
    width: 100%;
    height: 302px;
    background: linear-gradient(to right, #64a83c 50%, #62a63b 50%);
  }

  @media (min-width: $tablet-width) {
    color: $color-text-secondary;
    text-align: left;
    background-image: none;

    &::before {
      display: none;
      background: none;
    }
  }

  @media (min-width: $desktop-width) {
    &::before {
      display: block;
      width: 50%;
      height: 694px;
      top: -115px;
      left: 50%;
      background-image: linear-gradient(to right, rgba($bright-color, 0.85) 0, rgba($bright-color, 0.85) 100%), url("../img/background-cat-desktop.jpg");
      background-color: $ship-gray;
      background-repeat: no-repeat;

      @media (min-resolution: 2dppx) {
        background-image: linear-gradient(to right, rgba($bright-color, 0.85) 0, rgba($bright-color, 0.85) 100%), url("../img/background-cat-desktop@2x.jpg");
        background-size: 1041px auto;
      }
    }
  }
}

.hero__container {
  padding-top: 27px;

  @media (min-width: $tablet-width) {
    padding-top: 69px;
    display: grid;
    grid-template-columns: 90px 1fr 90px;
  }

  @media (min-width: $desktop-width) {
    padding: 110px 80px 184px 80px;
    display: block;
    position: relative;
  }
}

.hero__title {
  font-size: 2.25rem;
  line-height: 1;
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 25px;

  @media (min-width: $tablet-width) {
    font-size: 3.75rem;
    margin-bottom: 40px;
    grid-column: 2 / 3;
  }

  @media (min-width: $desktop-width) {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    width: 416px;
  }
}

.hero__subtitle {
  line-height: 1;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 29px;

  @media (min-width: $tablet-width) {
    font-size: 1.25rem;
    margin-bottom: 50px;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }
}

.hero__image {
  display: block;
  width: 280px;
  height: 270px;
  margin: 0 auto;
  margin-bottom: 3px;

  @media (min-width: $tablet-width) {
    width: 708px;
    height: 609px;
    grid-column: 1 / 4;
    grid-row: 3 / 5;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    width: 552px;
    height: 499px;
    top: 29px;
    right: 221px;
  }
}

.hero__button {
  font-family: inherit;
  font-size: 1.25rem;
  line-height: 1;
  width: 280px;
  padding-top: 10px;
  padding-bottom: 10px;

  @media (min-width: $tablet-width) {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    padding-top: 14px;
    padding-bottom: 14px;
    width: 244px;
  }
}
