.input {
  font-family: $font-secondary;
  font-size: 1rem;
  line-height: 1.13;
  padding: 15px 35px 13px 15px;
  border: 1px solid $color-border-input-clickable;
  text-transform: uppercase;
  color: $color-text-primary;
  width: 100%;

  &--error {
    border: 2px solid $error-color;
  }

  &:focus {
    outline: 2px solid $color-border-input-focused;
    border-color: transparent;
  }

  &:hover {
    outline: 1px solid $color-border-input-hover;
    border-color: transparent;
  }

  &:disabled {
    pointer-events: none;
  }

  @media (min-width: $tablet-width) {
    font-size: 1.25rem;
    line-height: 1;
    padding: 11px 35px 11px 20px;
  }
}
