.navigation {
  position: absolute;
  left: 0;
  top: 100%;
  width: 100%;

  &--nojs {
    position: static;
    margin-top: 15px;

    .navigation__list {
      display: block;
    }
  }
}

.navigation__toggle {
  display: inline-block;
  padding: 0;
  border: none;
  background-color: transparent;
  width: 24px;
  height: 24px;
  cursor: pointer;

  &--nojs {
    visibility: hidden;
  }

  &--closed::before {
    content: "";
    display: block;
    width: 24px;
    height: 24px;
    mask: url("../../img/burger.svg") no-repeat center / contain;
    background: $color-navigation-toggle-clickable;
  }

  &--closed:hover::before {
    background: $color-navigation-toggle-hover;
  }

  &--closed:active {
    opacity: 0.3;
  }

  &--opened::before {
    content: "";
    display: block;
    width: 18px;
    height: 18px;
    mask: url("../../img/icon-nav-opened.svg") no-repeat center / contain;
    background: $color-navigation-toggle-clickable;
  }

  &--opened:hover::before {
    background: $color-navigation-toggle-hover;
  }

  &--opened:active {
    opacity: 0.3;
  }
}

.navigation__list {
  @include list-reset;

  &--closed {
    display: none;
  }

  &--opened {
    display: block;
  }
}

.navigation__item {
  padding: 22px 55px;
  display: flex;
  justify-content: center;
  border-top: 1px solid $color-border-1;
  border-bottom: 1px solid $color-border-1;
  background-color: $color-background-1;

  &:last-child {
    border-bottom: none;
  }
}

.navigation--nojs .navigation__item {
  width: 320px;
  margin-left: -20px;
}

.navigation__link {
  font: $font-menu-navigation;
  color: $color-text-secondary;
  text-transform: uppercase;

  &[href]:hover {
    opacity: 0.6;
  }

  &[href]:active {
    opacity: 0.3;
  }
}
