.navigation {
  position: absolute;
  z-index: 1;
  left: 0;
  top: 100%;
  width: 100%;
  background-color: $basic-color;

  &--nojs {
    position: static;
  }

  @media (min-width: $tablet-width) {
    position: static;
    width: 440px;
  }

  @media (min-width: $desktop-width) {
    width: 885px;
    margin: 0 0 0 131px;
    background-color: transparent;
  }
}

.navigation--nojs .navigation__list {
  display: block;
}

.navigation__list {
  @include list-reset;

  @media (max-width: $mobile-width-only) {
    border-top: 1px solid $gray-200;

    &--closed {
      display: none;
    }

    &--opened {
      display: block;
    }
  }

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    gap: 33px;
  }

  @media (min-width: $desktop-width) {
    justify-content: end;
  }
}

.navigation__item {
  display: flex;
  justify-content: center;
  border-bottom: 1px solid $gray-200;

  @media (min-width: $tablet-width) {
    position: relative;
    border: none;

    &--current::before {
      content: "";
      display: block;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height: 2px;
      background-color: $bright-color;
    }
  }

  @media (min-width: $desktop-width) {
    &--current::before {
      bottom: -5px;
    }

    &--current-other-color::before {
      background-color: $basic-color;
    }
  }
}

.navigation__link {
  display: block;
  padding: 22px 0 24px;
  font-family: $font-secondary;
  font-size: 1.25rem;
  line-height: 1;
  color: $color-text-secondary;
  text-transform: uppercase;


  &[href]:focus {
    opacity: 0.6;
  }

  &[href]:hover {
    opacity: 0.6;
  }

  &[href]:active {
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    padding: 10px 0;
    font-size: 1.13rem;
    line-height: 1.33;
  }

  @media (min-width: $desktop-width) {
    padding: 8px 0;
    font-size: 1.25rem;
    line-height: 1;

    &--other-color {
      color: $basic-color;
    }
  }
}
