.page-content__hero {
  margin: 0 0 20px;

  @media (min-width: $tablet-width) {
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 82px;
  }
}

.page-content__program {
  margin: 0 0 20px;

  @media (min-width: $tablet-width) {
    margin: 0 0 45px;
  }
}

.page-content__program-request {
  margin: 0 0 32px;

  @media (min-width: $tablet-width) {
    margin: 0 0 60px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 80px;
  }
}

.page-content__catalog {
  margin: 0 0 25px;

  @media (min-width: $tablet-width) {
    margin: 0 0 70px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 76px;
  }
}

.page-content__extra-catalog {
  margin: 0 0 35px;

  @media (min-width: $tablet-width) {
    margin: 0 0 75px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 87px;
  }
}
