.programm-request__container {
  border-top: 1px solid $color-border-2;
  padding-top: 27px;
  margin-bottom: 32px;
}

.programm-request__title {
  font: $font-main-heading;
  color: $color-text-secondary;
  margin-top: 0;
  margin-bottom: 37px;
}

.programm-request__description {
  font: $font-form-description;
  text-transform: uppercase;
  color: $color-text-secondary;
  margin-top: 0;
  margin-bottom: 39px;
}
