.programm__list {
  @include list-reset;
}

.programm__item {
  background-color: $color-background-3;
  margin-bottom: 20px;
  padding: 30px 35px 20px 20px;

  &:last-child {
    margin-bottom: 0;
  }

  &--diet {
    background-image: url("../../img/icon-porgramm-diet.svg");
    background-repeat: no-repeat;
    background-position: top 24px left 20px;
  }

  &--weight {
    background-image: url("../../img/icon-programm-weight.svg");
    background-repeat: no-repeat;
    background-position: top 24px left 13px;
  }
}
