.program-card {
  display: grid;
  grid-template-columns: auto 1fr;
  position: relative;
  background-color: $light-color;

  &--diet {
    padding: 21px 32px 18px 20px;

    &::before {
      content: "";
      display: block;
      width: 50px;
      height: 53px;
      background-image: url("../img/sprite.svg#program-diet");
      background-size: 50px 53px;
      background-repeat: no-repeat;
      margin: 0 20px 0 0;
    }
  }

  &--weight {
    padding: 27px 33px 18px 20px;

    &::before {
      content: "";
      width: 67px;
      height: 50px;
      background-image: url("../img/sprite.svg#program-weight");
      background-repeat: no-repeat;
      margin: 0 11px 0 -7px;
    }
  }

  @media (min-width: $tablet-width) {
    grid-template-columns: 1fr auto;

    &--diet {
      padding: 80px 63px 63px 52px;

      &::before {
        width: 200px;
        height: 211px;
        background-size: 200px 211px;
        grid-row: 1 / 4;
        margin: 0 0 0 53px;
      }
    }

    &--weight {
      padding: 77px 29px 65px 52px;

      &::before {
        width: 268px;
        height: 200px;
        grid-row: 1 / 4;
        margin: 12px 0 0 19px;
      }
    }
  }

  @media (min-width: $desktop-width) {
    width: 570px;
    grid-template-columns: auto 1fr;

    &--diet {
      padding: 41px 61px 59px 52px;

      &::before {
        width: 100px;
        height: 106px;
        background-size: 100% 100%;
        grid-row: 1 / 2;
        margin: 0 62px 0 0;
      }
    }

    &--weight {
      padding: 47px 67px 59px 52px;

      &::before {
        width: 134px;
        height: 100px;
        grid-row: 1 / 2;
        margin: 0 47px 0 -19px;
      }
    }
  }
}

.program-card__title {
  font-family: $font-secondary;
  font-size: 1.5rem;
  line-height: 1.54;
  font-weight: 400;
  color: $color-text-secondary;
  margin: 0;
  align-self: center;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 2.25rem;
    line-height: 1;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }

  @media (min-width: $desktop-width) {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
  }
}

.program-card__description {
  margin: 23px 0 18px;
  grid-column: 1 / 3;

  &::after {
    content: "";
    display: block;
    width: 240px;
    height: 1px;
    background-color: $gray-400;
    margin: 23px 0 0;
  }

  @media (min-width: $tablet-width) {
    font-size: 1rem;
    line-height: 1.5;
    margin: 22px 0 57px;
    grid-column: 1 / 2;

    &::after {
      display: none;
    }
  }

  @media (min-width: $desktop-width) {
    margin: 39px 0 33px;
    grid-column: 1 / 3;
    grid-row: 2 / 3;
  }
}

.program-card__link {
  font-family: $font-secondary;
  font-size: 1rem;
  line-height: 1;
  color: $color-text-secondary;
  text-transform: uppercase;
  grid-column: 1 / 3;
  display: inline-flex;
  gap: 15px;
  align-items: center;

  &::after {
    content: "";
    display: block;
    width: 24px;
    height: 12px;
    background-image: url("../img/sprite.svg#arrow-icon");
    background-repeat: no-repeat;
  }

  &:active {
    opacity: 0.3;
  }

  &:focus::after {
    width: 32px;
  }

  &:hover::after {
    width: 32px;
  }

  @media (min-width: $tablet-width) {
    font-size: 1.25rem;
    grid-column: 1 / 2;
    gap: 25px;
  }

  @media (min-width: $desktop-width) {
    grid-column: 1 / 3;
  }
}
