.programm-card__wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 22px;
}

.programm-card--diet .programm-card__wrapper {
  gap: 20px;
}

.programm-card--weight .programm-card__wrapper {
  gap: 11px;
}

.programm-card__title {
  font: $font-title-mobile-medium;
  color: $color-text-secondary;
  order: 2;
  margin-top: 0;
  margin-bottom: 0;
  text-transform: uppercase;
}

.programm-card__description {
  margin-top: 0;
  margin-bottom: 15px;

  &::after {
    content: "";
    display: block;
    width: 240px;
    height: 1px;
    background-color: $color-border-2;
    margin-top: 23px;
  }
}

.programm-card__link {
  font: $font-link-basic;
  display: inline-flex;
  gap: 15px;
  color: $color-text-secondary;
  text-transform: uppercase;

  &::after {
    content: "";
    display: block;
    width: 32px;
    height: 10px;
    background-image: url("../img/icon-arrow.svg");
    background-repeat: no-repeat;
  }

  &:focus {
    outline: none;
  }

  &:active {
    opacity: 0.3;
  }

  &:focus::after {
    background-image: url("../img/icon-arrow-long.svg");
  }

  &:hover::after {
    background-image: url("../img/icon-arrow-long.svg");
  }
}
