.radio {
  appearance: none;
  position: relative;
  margin: 0;
  width: 30px;
  height: 30px;
  border: 1px solid $color-border-radio-clickable;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;

  &:focus {
    outline: 1px solid $color-border-radio-focused;
  }

  &:hover {
    border-color: $color-border-radio-hover;
  }

  &:disabled {
    opacity: 0.3;
  }

  &:checked::before {
    content: "";
    display: block;
    width: 13px;
    height: 13px;
    background-color: $color-radio-active;
    border-radius: 50%;
  }

  @media (min-width: $tablet-width) {
    width: 40px;
    height: 40px;

    &:checked::before {
      width: 18px;
      height: 18px;
    }
  }
}
