.request-form {
  font-family: $font-secondary;
}

.request-form__group {
  margin: 0;
  padding: 0;
  border: none;
  position: relative;

  &--personal-data {
    margin-bottom: 46px;

    &::after {
      content: "";
      position: absolute;
      left: -20px;
      bottom: -24px;
      width: calc(100% + 40px);
      height: 1px;
      background-color: $gray-400;
    }
  }

  &--target {
    margin-bottom: 45px;

    &::after {
      content: "";
      position: absolute;
      left: -20px;
      bottom: -19px;
      width: calc(100% + 40px);
      height: 1px;
      background-color: $gray-400;
    }
  }

  &--feedback-data {
    margin-bottom: 24px;
  }

  &--comment {
    margin-bottom: 23px;
  }

  &--additional {
    margin-bottom: 34px;
  }
}

.request-form__group-name {
  font-size: 1.5rem;
  line-height: 1.08;
  color: $color-text-secondary;
  margin-bottom: 36px;
}

.request-form__list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  list-style: none;

  &--fillable {
    gap: 14px;
  }

  &--selectable {
    gap: 13px;
  }
}

.request-form__field {
  display: grid;
  align-items: center;
  position: relative;

  &--fillable {
    grid-template-columns: max-content 2fr;
    gap: 13px;
  }

  &--selectable {
    grid-template-columns: max-content max-content;
    gap: 15px;
  }
}

.request-form__control {
  cursor: pointer;

  &::placeholder {
    color: $color-text-primary;
  }
}


.request-form__control[type="number"]::-webkit-outer-spin-button,
.request-form__control[type="number"]::-webkit-inner-spin-button {
  appearance: none;
}

.request-form__control[type="radio"]:disabled + .request-form__label {
  opacity: 0.3;
}

.request-form__control[type="checkbox"]:disabled + .request-form__label {
  opacity: 0.3;
}

.request-form__label {
  font-size: 1rem;
  line-height: 1.13;
  text-transform: uppercase;
}

.request-form__control-icon {
  position: absolute;
  top: 50%;
  right: 13px;
  transform: translate(0, -50%);

  &::before {
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    background: $black-50;
  }

  &--email {
    mask: url("../img/icon-email.svg") no-repeat center / contain;
  }

  &--phone {
    mask: url("../img/icon-phone.svg") no-repeat center / contain;
  }
}

.request-form__control:focus + .request-form__control-icon::before {
  background: $bright-color;
}

.request-form__button {
  font-family: inherit;
  font-size: 1rem;
  line-height: 1.25;
  font-weight: 400;
  padding: 14px 44px;
  margin-bottom: 21px;
}

.request-form__required-fields-info {
  font-family: $font-basic;
  line-height: 1.14;
  color: $color-text-secondary;
  text-align: center;
}
