.social__list {
  @include list-reset;
  display: flex;
  justify-content: center;
  gap: 24px;
}

.social__list-link {
  &::before {
    content: "";
    display: block;
    width: 28px;
    height: 22px;
    background: $color-social-link-clickable;
  }

  &:focus::before {
    background: $color-social-link-hover;
  }

  &:hover::before {
    background: $color-social-link-hover;
  }

  &:active::before {
    opacity: 0.3;
  }

  &--vk::before {
    mask: url("../img/sprite.svg#vk-icon") no-repeat center / contain;
  }

  &--youtube::before {
    mask: url("../img/sprite.svg#youtube-icon") no-repeat center / contain;
  }

  &--telegram::before {
    mask: url("../img/sprite.svg#telegram-icon") no-repeat center / contain;
  }
}
