.textarea {
  font-family: $font-secondary;
  font-size: 1rem;
  line-height: 1.13;
  padding: 14px 14px 8px;
  text-transform: uppercase;
  border: 1px solid $color-border-textarea-clickable;
  resize: none;

  &:hover {
    border-color: $color-border-textarea-hover;
  }

  @media (min-width: $tablet-width) {
    font-size: 1.25rem;
    padding: 13px 20px 1px;
  }
}
