// Переменные для шрифтов
$font-basic: 700 0.875rem / 1.125rem "Lato", sans-serif;
$font-menu-navigation: 400 1.25rem / 1.25rem "Oswald", sans-serif;
$font-main-heading: 400 2.25rem / 2.25rem "Oswald", sans-serif;

// Переменные для текста
$color-text-primary: #444444;
$color-text-secondary: #000000;
$color-text-tertiary: #ffffff;

//Переменные для фонов
$color-background-1: #ffffff;
$color-background-2: #68b738d9;

//Переменные для границ

$color-border-1: #e6e6e6;
$color-border-2: #d9d9d9;

// Переменные для интерактиынх элементов
$color-footer-logo-clickable: #111111;
$color-footer-logo-hover: #3e3e3e;
$color-footer-logo-pressed: #6b6b6b;

$color-partner-logo-clickable: #666666;
$color-partner-logo-hover: #68b738;

$color-social-link-clickable: #666666;
$color-social-link-hover: #68b738;
