// Переменные для шрифтов
$font-basic: 700 0.88rem / 1.13rem "Lato", sans-serif;
$font-menu-navigation: 400 1.25rem / 1.25rem "Oswald", sans-serif;
$font-main-heading: 400 2.25rem / 2.25rem "Oswald", sans-serif;
$font-title-mobile-large: 400 2.25rem / 2.25rem "Oswald", sans-serif;
$font-title-mobile-medium: 400 1.5rem / 2.31rem "Oswald", sans-serif;
$font-link-basic: 400 1rem / 1rem "Oswald", sans-serif;
$font-example-stats-summ: 400 1.5rem / 1.5rem "Oswald", sans-serif;
$font-example-stats-total: 400 0.88rem / 1.25rem "Oswald", sans-serif;
$font-contacts-offer: 400 1rem / 1.25rem "Oswald", sans-serif;

// Переменные для текста
$color-text-primary: #444444;
$color-text-secondary: #000000;
$color-text-tertiary: #ffffff;

//Переменные для фонов
$color-background-1: #ffffff;
$color-background-2: #68b738d9;
$color-background-3: #f2f2f2;
$color-background-4: #eaeaea;

//Переменные для границ
$color-border-1: #e6e6e6;
$color-border-2: #d9d9d9;
$color-border-3: #cdcdcd;

// Переменные для интерактиынх элементов
$color-navigation-toggle-clickable: #000000;
$color-navigation-toggle-hover: #3e3e3e;

$color-footer-logo-clickable: #111111;
$color-footer-logo-hover: #3e3e3e;
$color-footer-logo-pressed: #6b6b6b;

$color-partner-logo-clickable: #666666;
$color-partner-logo-hover: #68b738;

$color-social-link-clickable: #666666;
$color-social-link-hover: #68b738;

// Переменные для размеров экрана
$tablet-width: 768px;
$desktop-width: 1440px;
